.welcome{
    padding-left: 50px;
    font-size: 30px;
    margin-bottom: 20px;

}
.email{
    margin-bottom: 15px;
    width: 290px;
    height: 30px;
border-radius: 16px;
}
.box{
    width: 290px;
    height: 28px;
border-radius: 16px;
}
.Google-button{
    color: aliceblue;
    margin: 10px 0px;
    width: 290px;
    height: 30px;
    border-radius: 16px;
    background-color: red;
    border-style: hidden;

}

.F-button{
    color: aliceblue;
    margin-bottom: 5px;
    width: 290px;
    height: 30px;
    border-radius: 16px;
    background-color: rgb(1, 31, 179);
    border-style: hidden;

}
.login{
    color: aliceblue;
    margin-bottom: 10px;
    width: 290px;
    height: 30px;
    background-color: rgb(0, 42, 255);
    border-radius: 16px;
    border-style: hidden;

}

.remeber{
    margin: 10px 0px;
    font-size: 20px;
}
.forgot{
    background-color: white;
    color: rgb(0, 42, 255);
    border-style: hidden;
    margin-left: 80px;
    margin-top: 15px;
}
.create{
    background-color: white;
    color: rgb(0, 42, 255);
    border-style: hidden;
    margin-left: 79px;
}
.center{
    margin-left: 300px;
    width: 50%;
}
.hr{
    width: 290px;
}